<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>48956287355-78lnq2ha4sqivafg8t3jl98fslsbav2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48956287355-78lnq2ha4sqivafg8t3jl98fslsbav2h</string>
	<key>API_KEY</key>
	<string>AIzaSyBvKWkhpB3afAQKPsxlSX9HYqku0rJJ8Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>48956287355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>family.wwdc.app</string>
	<key>PROJECT_ID</key>
	<string>wwdc-family</string>
	<key>STORAGE_BUCKET</key>
	<string>wwdc-family.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:48956287355:ios:4ee04da3fe78a7e8</string>
	<key>DATABASE_URL</key>
	<string>https://wwdc-family.firebaseio.com</string>
</dict>
</plist>